<h1><span class="user-and-company"><%= @order.user.name %>さん</span>と<br>
  <span class="user-and-company"><%= @order.company.name %>さん</span>の連絡部屋</h1>

<p><%= @order.user.name %>さんが欲しい物</p>
<table class="form-table1">
  <tr>
    <td colspan="2"><span class="show-text1">タイトル：<%= @order.auction.title %></span></td>
  </tr>

  <tr>
    <td><span class="show-text1">予算<br>
      <%= @order.auction.price %>円</span></td>
    <td><span class="show-text1">送料<br></span>
      <%= @order.auction.delivery_charge.name %></span></td>
  </tr>

  <tr>
    <td colspan="2"><span class="show-text1">商品説明</span>
    <p class="show-description"><%= @order.auction.description %></p></td>
  </tr>
</table>