<h3>現在のステータス：
  <% if @order.active == "active" %>
    <span class="order-status">取引中</span>
  <% else %>
    <span class="order-status">取引終了</span>
  <% end %>
  </h3>

<h1><span class="user-and-company"><%= @order.user.name %>さん</span>と
  <span class="user-and-company"><%= @order.company.name %>さん</span>の連絡部屋</h1>

<p><%= @order.company.name %>さんの提案する商品</p>
<table class="form-table1">
  <tr>
    <td colspan="2"><span class="show-text1">商品名：<%= @order.title %></span></td>
  </tr>

  <tr>
    <td class="form-image">
      <div id="image_auction">
        <%= image_tag @order.image %>
      </div>
    </td>

    <td class="item-description"><span class="show-text1"><u class="under-line">商品詳細</u><br><%= @order.description %>円</span></td>
  </tr>
</table>

<h2>総額：
  <span class="total-price"><%= @order.price %></span>円 + <span class="total-price">送料</span>
</h2>
<p>※送料は出品者負担の場合は0円です。</p>

<br><br>
<% if @order.active == "active" %>
  <%= link_to "この取引を終了する", auction_order_auction_path(@order.id), method: :delete, class:"end-button" %>
  <p>※両者の内、どちらかがボタンを押すと取引は「終了状態」となります。</p>
<% else %>
  <p>※この取引は終了されました。</p>
<% end %>