<h1>取引希望ページ作成</h1>
<p>ここで取引用の連絡部屋のレコードを生成する</p>

<p><%= @auction.title %>の購入を希望する</p>
<p>カテゴリー<br><%= @auction.category.name %></p>
<br>
<p>希望価格(単価)：<%= @auction.price %></p>
<p>購入数上限：<%= @auction.stock %></p>
<p>出品：<%= @auction.user.name %></p>
<p>送料：<%= @auction.delivery_charge.name %></p>


<%= form_with model: @order_auction, url: auction_order_auctions_path, id: 'new_auction', local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <br>

  <div id=image_auction></div>
  <div>
    <p id="text_auction">クリックしてファイルをアップロード</p>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.label :title %><br>
    <%= f.text_area :title, placeholder:"商品名（必須)"%>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder:"商品説明（必須)"%>
  </div>

  <div>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity, placeholder:"販売希望数（必須)"%>
  </div>

  <div>
    <%= f.submit "連絡部屋作成" ,class:"" %>
  </div>
<% end %>