<%= stylesheet_link_tag 'order_auctions/new', :media => "all" %>

<div class="new-wrap">
  <h1><span class="user-and-company"><%= @auction.user.name %>さん</span>
  へ　商品を売り込む。</h1>
  <h2>商品PR　兼　連絡部屋を作成します。</h2>
  <h3>取引が成立した際の商品発送や代金の支払いに関する相談も今から作成する部屋で行います。</h3>


  <h4>欲しい物の詳細・確認</h4>
  <div class="check-hope">
    <table class="form-table1">
      <tr>
        <th colspan="2">タイトル：<%= @auction.title %></th>
      </tr>
      <tr>
        <td><span class="show-text1">予算：
          <%= @auction.price %>円</span></td>
        <td><span class="show-text1">送料：
          <%= @auction.delivery_charge.name %></span></td>
      </tr>

      <tr>
        <td colspan="2"><span class="show-text1">詳細</span>
        <p class="show-description"><%= @auction.description %></p></td>
      </tr>
    </table>
  </div>


  <div class="item-form">
    <%= form_with model: @order_auction, url: auction_order_auctions_path, id: 'new_auction', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <table class="form-table1">
        <tr>
          <th colspan="2"><span class="show-text1">商品名：<%= f.text_field :title, placeholder:"30文字まで", maxlength:"30", class: "form-title" %></th>
        </tr>

        <tr>
          <td rowspan="2" class="form-image">
            <p class="show-text2">画像をアップロード</p>
            <div id="image_auction"></div>
            <label for="auction_image">
              <p class="form-button">画像を選択</p><%= f.file_field :image, id: "auction_image", class: "form-button" %>
            </label>
          </td>
          <td><span class="show-text1">価格：<%= f.text_field :price, placeholder:"半角数字", class: "form-price" %>円</td>
        </tr>

        <tr>
          <td colspan="3"><span class="show-text1">商品説明<br>
          <%= f.text_area :description, placeholder:"商品PR(文字数制限無し)", class: "form-description" %></span></td>
        </tr>
      </table>
      <%= f.submit "連絡部屋作成" ,class:"" %>
    <% end %>
  </div>
</div>