<%= @order.company.name %><p>さんと</p><br>
<%= @order.auction.user.nickname %><p>さんの取引連絡ページ。</p><br>

<div>
  <br>
  <p>商品画像</p><br>
  <%= image_tag @order.image %>
</div>

<div>
  <br>
  <p>商品名：</p><%= @order.title %>
</div>

<div>
  <br>
  <p>商品説明文：</p><%= @order.description %>
</div>

<div>
  <br>
  <p>販売希望数：</p><%= @order.quantity %>
</div>

<%= form_with model: @contact, url: auction_order_auction_contact_auctions_path(auction_id: @auction.id, order_auction_id: @order.id), local: true do |f| %>
  <%= f.text_area :message, placeholder: "ここに入力してください", rows: "2" %>
  <%= f.submit "送信" %>
<% end %>

<% @contacts.each do |contact| %>
  <% if contact.company_id == nil %>
    <div>
      <p><%= contact.user.nickname %></p>
      <p><strong><%= contact.message %></strong></p><br>
    </div>
  <% else %>
    <div>
      <p><%= contact.company.name %></p>
      <p><strong><%= contact.message %></strong></p><br>
    </div>
  <% end %>
<% end %>