<div class="commit-wrap">

  <div class="search-nav-container">
    <p class="commit-text">検索結果</p>
    <ul class="search-nav-list">
      <li class="search-nav"><%= sort_link(@a, :created_at, "新着") %></li>
      <li class="search-nav"><%= sort_link(@a, :price, "予算") %></li>
    </ul>
  </div>

  <div class="search-result-container">
    <% if @results_auction.length !=0 %>
      <% @results_auction.each do |result| %>
        <% if (result.deadline > Time.new) && (auction.active == true) %>

          <div class="search-result">
            <table class="result-table">
              <tr class="result-title">
                <th colspan="2"><%= link_to result.title, auction_path(result.id), class: "result-title" %></th>
              </tr>
              <tr class="result-text">
                <td>予算：<%= result.price %>円</td>
                <td>カテゴリー：<%= result.category.name %></td>
              </tr>
            </table>
          </div>
        <% end %>
      <% end %>
    <% else %>
      該当する商品はありません
    <% end %>
  </div>
</div>