<div class="search-wrap">
  <%= search_form_for @a, url: auctions_search_path do |f| %>

    <%= image_tag 'search/key_word.png', size: '20x20' %>キーワード検索<br>
    <%= f.search_field :title_cont, placeholder:"(例：牛", class: "search-field" %>
    <br><br>

    <%= image_tag 'search/question.png' , size: '20x20' %>カテゴリーで探す<br>
    <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定なし' %>
    <br><br>

    <%= image_tag 'search/yen.png' , size: '20x20' %>価格で絞り込む<br>
    <%= f.search_field :price_gteq, placeholder:"○○円以上", class: "search-field" %>
    <br>
    <%= f.search_field :price_lteq, placeholder:"○○円以下", class: "search-field" %>
    <br><span class="price-search">片方だけでも検索できます。
    <br>※5000円以下で検索など</span>
    <br><br>

    <%= f.submit '検索' %>
  <% end %>
</div>