<div class="commit">

  <h1>
    検索結果
  </h1>
  <%# 検索結果の個数で条件分岐 %>
  <% if @results_auction.length !=0 %>
    <% @results_auction.each do |result| %>
      <li class=''>
        <%= link_to auction_path(result.id) do %>
          <div class=''>
            <h1 class=''>
              <%= result.title %>
            </h1>
            <div class=''>
              <span><%= result.price %>円<br><%= result.delivery_charge.name %></span>
            </div>
          </div>
        <% end %>
      </li><br><br><br>
    <% end %>
  <% else %>
    該当する商品はありません
  <% end %>
  <br>
  <%= link_to '戻る', auctions_path %>

</div>