<div class="commit">

  <h1>
    検索結果
  </h1>
  <%# 検索結果の個数で条件分岐 %>
  <% if @results.length !=0 %>
    <% @results.each do |result| %>
      <li class=''>
        <%= link_to auction_path(auction.id) do %>
          <div class=''>
            <h1 class=''>
              <%= auction.title %>
            </h1>
            <div class=''>
              <span><%= auction.price %>円<br><%= auction.delivery_charge.name %></span>
            </div>
          </div>
        <% end %>
      </li><br><br><br>
    <% end %>
  <% else %>
    該当する商品はありません
  <% end %>
  <br>
  <%= link_to '戻る', bazaars_path %>

</div>