<%= stylesheet_link_tag 'auctions/create', :media => "all" %>
<div class="create-wrap">

  <div>
    <p class="create-text1">こんなの欲しい！の作成が完了しました</p>
  </div>

  <div class="create-menus">
    <p><%= link_to '作成したページへ', auction_path(@auction.id), class: "create-menu" %></p>
    <p><%= link_to '他にも作成する', new_auction_path, class: "create-menu" %></p>
    <p><%= link_to 'オークショントップへ', auctions_path, class: "create-menu" %></p>
  </div>
</div>

<%= render 'shared/footer' %>