<%= stylesheet_link_tag 'auctions/search', :media => "all" %>
<%= stylesheet_link_tag 'auctions/top', :media => "all" %>

<div class="auction-wrapper">

  <div class="auction-search">
    <%= render "search" %>
  </div>

  <div class="auction-top">
    <%= render "main" %>
  </div>
</div>
<%= render 'shared/footer' %>