<%= stylesheet_link_tag 'auctions/show', :media => "all" %>
<div class="show-wrap">
<% count = 0 %>

  <div class="introduce-and-room">
    <p class="introduce">欲しい物詳細ページ</p>

    <div class="rooms">
      <% @order.each do |order| %>
        <% if (current_user.nil?) && (order.company_id == current_company.id) %>
          <%= link_to "取引連絡部屋へ", auction_order_auction_path(order.id), class: "go-room-button" %>
          <% count += 1 %>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.id == @auction.user.id %>
          会社・お店様からの商品PR部屋はページ下部に一覧で表示されます。
          <br>※このメッセージは出品者本人にのみ見えています。
        <% end %>
      <% end %>
    </div>
  </div>


  <div class="category-and-submit">
    <p>カテゴリー：<%= @auction.category.name %></p>
    <div>
      <% if @auction.stock != 0 %>
        <% if @auction.deadline > Time.now %>
          <% if (user_signed_in?) && (current_user.id == @auction.user.id) %>
            <%= link_to "商品の編集", edit_auction_path(@auction.id), method: :get, class: "show-button" %>
            <%= link_to "このページを終了する", auction_path(@auction.id), method: :delete, class:"show-button" %>
          <% elsif company_signed_in? %>
            <% if count == 0 %>
              <%= link_to "商品を売り込む", new_auction_order_auction_path(@auction.id) ,class:"show-button"%>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


  <table class="form-table1">
    <tr>
      <th colspan="3">欲しい人：<%= @auction.user.name %></th>
    </tr>
    <tr>
      <td colspan="3"><span class="show-text1">タイトル：<%= @auction.title %></span></td>
    </tr>

    <tr>
      <td rowspan="2" class="auction-price">
        <span class="show-text3">予算<br>
        <%= @auction.price %>円</span>
      </td>
    </tr>

    <tr>
      <td><span class="show-text4">送料<br>
        <%= @auction.delivery_charge.name %></span></td>
      <td>
        <span class="show-text1">この日までに欲しい<br>
        <%= @auction.deadline %></span>まで
      </td>
    </tr>
    <tr>
      <td colspan="3"><span class="show-text1">詳細説明</span>
      <p class="show-description"><%= @auction.description %></p></td>
    </tr>
  </table>


  <div class="contact-lists">
    <% if user_signed_in? %>
      <% if @auction.user.id == current_user.id %>
        <p class="contact-guide">この一覧はこのページを作った本人にのみ見えています。
        <br>※背景が水色のリストが表示されない場合は、売り込みはまだありません。</p>
        <table class="contact-table">
          <tr><th>部屋番号</th><th>お相手の会社名</th><th>リンク</th></tr>
            <% @auction.order_auctions.each do |order| %>
              <tr>
                <td><%= order.id %></td><td><%= order.company.name %></td>
                <td><%= link_to "商品を見る", auction_order_auction_path(order.id), class: "contact-link" %></td>
              </tr>
            <% end %>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>




