<div>
  <div>
    <p><%= @user.name %>さんのマイページ</p><br>
    <% if current_company.nil? && @user.id == current_user.id %>
      <%= link_to "マイページを編集する", edit_user_registration_path(@user.id) %>
    <% end %>
  </div>

  <div>
    <div>
      <table>
        <tbody>
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>

          <tr>
            <th>プロフィール</th>
            <td><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <br><br><br>
    <div>
      <table>
        <tbody>
          <tr>
            <th>カテゴリー</th>
            <td>買いたい物</td>
            <td>希望額</td>
            <td>　締切日</td>
          </tr>

          <% @auctions.each do |auction| %>
            <% if auction.deadline > Time.new %>
              <tr>
                <th><%= auction.category.name %></th>
                <td><%= auction.title %></td>
                <td><%= auction.price %></td>
                <td><%= auction.deadline %></td>
                <td><%= link_to "詳細ページへ", auction_path(auction.id) %><td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <br><br>

    <div>
      <table>
        <tbody>
          <tr>
            <th>オークション取引一覧</th>
            <td>タイトル</td>
            <td>お相手のお名前</td>
            <td>連絡部屋へ</td>
          </tr>

          <% @orders.each_with_index do |order, index| %>
            <% if order.auction.deadline > Time.new %>
              <tr>
                <th><%= "取引番号#{index}" %></th>
                <td><%= order.auction.title %></th>
                <td><%= order.company.name %></td>
                <td><%= link_to "連絡部屋へ", auction_order_auction_path(order.id) %><td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>