<div class="header-wrap">
  <div class="header-links">
    <div class="logo">
      <%= link_to image_tag("header/logo.png", class:"", size: '180x130'), root_path %>
    </div>

    <ul class="top-lists">
      <li class="top-list">
        <%= link_to(bazaars_path) do %>
          <p>バザー</p>
          <%= image_tag 'header/to_bazaar.png' , size: '100x100' %>
        <% end %>
      </li>

      <li class="top-list">
        <%= link_to(auctions_path, class: 'to-auction') do %>
          <p>オークション</p>
          <%= image_tag 'header/to_auction.png' , size: '100x100' %>
        <% end %>
      </li>
    </ul>
  </div>


  <div class="header-menus">
    <ul class="menu-lists">
      <%#= マイページ %>
      <% if company_signed_in? %>
        <li class="menu-list">
          <%= link_to(company_path(current_company.id)) do %>
            <p>マイページ</p>
            <%= image_tag 'header/mypage.png' , size: '70x100' %>
          <% end %>
        </li>
      <% elsif user_signed_in? %>
        <li class="menu-list">
          <%= link_to(user_path(current_user.id)) do %>
            <p>マイページ</p>
            <%= image_tag 'header/mypage.png' , size: '70x100' %>
          <% end %>
        </li>
      <% else %>
        <li class="menu-list">
          <%= link_to(new_company_registration_path) do %>
            <p>会社新規登録</p>
            <%= image_tag 'header/company.png' , size: '100x100' %>
          <% end %>
        </li>
      <% end %>

      <%#= お知らせ %>
      <% if company_signed_in? %>
        <li class="menu-list">
          <%= link_to(notice_companys_path) do %>
            <p>お知らせ</p>
            <%= image_tag 'header/notice.png' , size: '120x100' %>
          <% end %>
        </li>
      <% elsif user_signed_in? %>
        <li class="menu-list">
          <%= link_to(notice_companys_path) do %><%# ここ出来次第変える %>
            <p>お知らせ</p>
            <%= image_tag 'header/notice.png' , size: '100x100' %>
          <% end %>
        </li>
      <% else %>
        <li class="menu-list">
          <%= link_to(new_company_session_path) do %>
            <p>会社ログイン</p>
            <%= image_tag 'header/login.png' , size: '100x100' %>
          <% end %>
        </li>
      <% end %>

      <%#= 出品 %>
      <% if company_signed_in? %>
        <li class="menu-list">
          <%= link_to(new_bazaar_path) do %>
            <p>これを出品！</p>
            <%= image_tag 'header/bazaar.png' , size: '100x100' %>
          <% end %>
        </li>
      <% elsif user_signed_in? %>
        <li class="menu-list">
          <%= link_to(new_auction_path) do %>
            <p>こういうの欲しい！</p>
            <%= image_tag 'header/auction.png' , size: '100x100' %>
          <% end %>
        </li>
      <% else %>
        <li class="menu-list">
          <%= link_to(new_user_registration_path) do %>
            <p>一般新規登録</p>
            <%= image_tag 'header/user.png' , size: '100x100' %>
          <% end %>
        </li>
      <% end %>

      <%#= ログアウト %>
      <% if company_signed_in? %>
        <li class="menu-list">
          <%= link_to(destroy_company_session_path, method: :delete) do %>
            <p>ログアウト</p>
            <%= image_tag 'header/logout.png' , size: '70x100' %>
          <% end %>
        </li>
      <% elsif user_signed_in? %>
        <li class="menu-list">
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            <p>ログアウト</p>
            <%= image_tag 'header/logout.png' , size: '70x100' %>
          <% end %>
        </li>
      <% else %>
        <li class="menu-list">
          <%= link_to(new_user_session_path) do %>
            <p>一般ログイン</p>
            <%= image_tag 'header/login.png' , size: '100x100' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>