<%= form_with model: bazaar, local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>

  <div>
    <p>クリックしてファイルをアップロード</p>
    <%= f.file_field :image %>
  </div>

  <br>

  <div>
    <%= f.label :category_id %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"", id:""}) %>
  </div>

  <br>

  <div>
    <%= f.label :title %><br>
    <%= f.text_area :title, placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
  </div>

  <br>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder:"必須：商品説明" %>
  </div>

  <br>

  <div>
    <%= f.label :price %><br>
    <%= f.text_field :price, placeholder:"必須：価格" %>
  </div>

  <br>

  <div>
    <%= f.label :stock %><br>
    <%= f.text_field :stock, placeholder:"必須：在庫" %>
  </div>

  <br>

  <div>
    <%= f.label :deadline %><br />
        <%= raw sprintf(
                      f.date_select(
                        :deadline,
                        class:'',
                        id:"",
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: 2020,
                        end_year: (Time.now.year + 5),
                        date_separator: '%s'),
                      " 年 ", " 月 ") + " 日 " %>
  </div>

  <br>

  <div>
    <%= f.label :delivery_charge_id %><br>
    <%= f.collection_select(:delivery_charge_id, DeliveryCharge.all, :id, :name, {}, {class:"", id:""}) %>
  </div>

  <br>

  <div>
    <%= f.label :days_to_ship_id %><br>
    <%= f.collection_select(:days_to_ship_id, DaysToShip.all, :id, :name, {}, {class:"", id:""}) %>
  </div>

  <br>

  <div>
    <%= f.submit "出品する" ,class:"sell-btn" %>
  </div>
<% end %>