<div class="commit-wrap">

  <div class="search-nav-container">
    <p class="commit-text">検索結果</p>
    <div>
      <p class="nav-guide">クリックで順番を入れ替え</p>
      <ul class="search-nav-list">
        <li class="search-nav"><%= sort_link(@b, :created_at, "新着") %></li>
        <li class="search-nav"><%= sort_link(@b, :price, "価格") %></li>
        <li class="search-nav"><%= sort_link(@b, :stock, "在庫") %></li>
      </ul>
    </div>
  </div>

  <div class="search-result-container">
    <% if @results_bazaar.length !=0 %>
      <% @results_bazaar.each do |result| %>
        <% if (result.deadline > Time.new) && (result.stock > 0) %>
          <div class="search-result">
            <div class="result-image">
              <%= link_to bazaar_path(result.id) do %>
                <%= image_tag result.image %>
              <% end %>
            </div>

            <table class="result-table">
              <tr class="result-title">
                <th colspan="2"><%= link_to result.title, bazaar_path(result.id), class: "result-title" %></th>
                <th>価格<br><%= result.price %>円</th>
              </tr>
              <tr class="result-text">
                <td>在庫：<%= result.stock %>個</td>
                <td>出品期間：<%= result.deadline %>まで</td>
                <td><%= result.delivery_charge.name %></td>
              </tr>
            </table>
          </div>
        <% end %>
      <% end %>
    <% else %>
      該当する商品はありません
    <% end %>
  </div>
</div>