<%= stylesheet_link_tag 'search', :media => "all" %>
<%= stylesheet_link_tag 'bazaars/top', :media => "all" %>

<div class="bazaar-wrapper">

  <div class="bazaar-search">
    <%= render "search" %>
  </div>

  <div class="bazaar-top">
    <%= render "main" %>
  </div>
</div>
<%= render 'shared/footer' %>