ここが詳細ページ。
ひとまず、ビューの出来はさておき最低限の機能を実装。

<div class="">
  <div class="">
    <h2 class="name">
      <%= @bazaar.title %>
    </h2>
    <div class="">
      <%= image_tag @bazaar.image ,class:"" %>
    </div>
    <div class="">
      <span class="">
        <%= "¥#{@bazaar.price}" %>
      </span>
      <span class="">
        <%= "在庫；#{@bazaar.stock}" %>
      </span>
      <span class="">
        <%= "期限；#{@bazaar.deadline}" %>
      </span>
    </div>

    <div class="">
      <span><%= @bazaar.description %></span>
    </div>
    <table class="">
      <tbody>
        <tr>
          <th class="">出品者</th>
          <td class=""><%= @bazaar.company.name %></td>
        </tr>
        <tr>
          <th class="">カテゴリー</th>
          <td class=""><%= @bazaar.category.name %></td>
        </tr>
        <tr>
          <th class="">配送料の負担</th>
          <td class=""><%= @bazaar.delivery_charge.name %></td>
        </tr>
        <tr>
          <th class="">発送日の目安(取引成立後)</th>
          <td class=""><%= @bazaar.days_to_ship.name %></td>
        </tr>
      </tbody>
    </table>

    <% unless (@bazaar.stock == 0) || (@bazaar.deadline < Time.now) %>
      <% if company_signed_in? %>
        <% if current_company.id == @bazaar.company.id %>
          <%= link_to "商品の編集", edit_bazaar_path(@bazaar.id), method: :get, class: "" %>
          <p class="or-text">or</p>
          <%= link_to "この出品を終了する", bazaar_path(@bazaar.id), method: :delete, class:"" %>
        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to "購入画面に進む", new_bazaar_order_bazaar_path(@bazaar.id) ,class:""%>
      <% end %>
    <% end %>

    <% @order_bazaar.each do |order| %>
      <% if current_company.nil? %>
        <% if (order.bazaar_id == @bazaar.id) && (order.user_id == current_user.id) %>
          <div class="">
            <div class="">
              <%= link_to "取引連絡部屋へ", bazaar_order_bazaar_path(order.id)%>
            </div>
          </div>
        <% end %>
      <% elsif current_user.nil? %>
        <% if (order.bazaar_id == @bazaar.id) && (@bazaar.company_id == current_company.id) %>
          <div class="">
            <div class="">
              <%= link_to "取引連絡部屋へ", bazaar_order_bazaar_path(order.id)%>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>



<%= "ユーザーレビュー" %>

<% if user_signed_in? || company_signed_in? %>
  <%= form_with model: @review, url: bazaar_review_bazaars_path(bazaar_id: @bazaar.id) do |f| %>
    <%= f.text_area :comment, placeholder: "ここに入力してください", rows: "2" %>
    <%= f.submit "送信" %>
  <% end %>
<% end %>

<div id='messages'>
  <% @reviews.each do |review| %>
    <div>
      <p><%= review.name %></p>
      <p><strong><%= review.comment %></strong></p><br>
    </div>
  <% end %>
</div>