
<h3>メッセージ一覧</h3>


<div class="messages">
  <% @contacts.each do |contact| %>
    <div class="message">
      <%= contact.name %>　　<span class="created_at"><%= contact.created_at %></span><br>
      <%= contact.message %>
    </div>
  <% end %>
</div>


<%= form_with model: @contact, url: bazaar_order_bazaar_contact_bazaars_path(bazaar_id: @order.bazaar.id, order_bazaar_id: @order.id), local: true do |f| %>
    <%= f.text_field :message, placeholder: "メッセージを入力する" , class: "chat-form"%>
    <%= f.submit "送信" %>
<% end %>