<h1>取引希望ページ作成</h1>
<p>ここで取引用の連絡部屋のレコードを生成する</p>

<p><%= @bazaar.title %>の購入を希望する</p>
<p>画像<br><%= image_tag @bazaar.image %></p>
<br>
<p>価格：<%= @bazaar.price %></p>
<p>在庫：<%= @bazaar.stock %></p>
<p>期限：<%= @bazaar.deadline %></p>
<p>出品：<%= @bazaar.company.name %></p>
<p>送料：<%= @bazaar.delivery_charge.name %></p>


<%= form_with model: @order_bazaar, url: bazaar_order_bazaars_path, local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <br>

  <div>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity, placeholder:"購入希望数（必須)"%>
  </div>

  <div>
    <%= f.submit "連絡部屋作成" ,class:"" %>
  </div>
<% end %>