<div>
  <div>
    <p><%= @company.name %>さんのマイページ</p><br>
    <%= image_tag @company.image %><br>
    <% if current_user.nil? && @company.id == current_company.id %>
      <%= link_to "マイページを編集する", edit_company_registration_path(@company.id) %>
    <% end %>
  </div>

  <div>
    <div>
      <table>
        <tbody>
          <tr>
            <th>会社名</th>
            <td><%= @company.name %></td>
          </tr>

          <tr>
            <th>代表</th>
            <td><%= @company.president %></td>
          </tr>

          <tr>
            <th>所在地</th>
            <td><%= @company.prefecture.name %><%= @company.address %><%= @company.city %></td>
          </tr>

          <tr>
            <th>電話番号</th>
            <td><%= @company.phone %></td>
          </tr>

          <tr>
            <th>会社概要</th>
            <td><%= @company.profile %></td>
          </tr>

          <tr>
            <th>会社HP</th>
            <td><%= @company.homepage %></td>
          </tr>

        </tbody>
      </table>
    </div>
  <br><br><br>
    <div>
      <table>
        <tbody>
          <tr>
            <th>カテゴリー</th>
            <td>タイトル</td>
            <td>販売額</td>
            <td>在庫数</td>
          </tr>

          <% @bazaars.each do |bazaar| %>
            <% if bazaar.deadline > Time.new %>
              <tr>
                <th><%= bazaar.category.name %></th>
                <td><%= bazaar.title %></td>
                <td><%= bazaar.price %></td>
                <td><%= bazaar.stock %></td>
                <td><%= link_to "詳細ページへ", bazaar_path(bazaar.id) %><td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <br><br>

    <div>
      <table>
        <tbody>
          <tr>
            <th>バザー取引一覧</th>
            <td>タイトル</td>
            <td>お相手のお名前</td>
            <td>連絡部屋へ</td>
          </tr>

          <% @orders.each_with_index do |order, index| %>
            <% if order.bazaar.deadline > Time.new %>
              <tr>
                <th><%= "取引番号#{index}" %></th>
                <td><%= order.bazaar.title %></th>
                <td><%= order.user.name %></td>
                <td><%= link_to "取引部屋へ", bazaar_order_bazaar_path(order.id) %><td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>